.example-card {
  display: inline-block;
  margin-bottom: 20px;
}

table {
  width: 673px;
}

.layout {
  background-color: #eee;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

mat-form-field {
  margin-right: 20px;
}

.title {
  width: 200px;
}

.year {
  width: 100px;
}