<div class="layout">
  <mat-card class="example-card">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="title">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Eg. The Fat of the Land" formControlName="title" autocomplete="off">
        <mat-error *ngIf="form.controls.title.errors?.required">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Artist</mat-label>
        <mat-select formControlName="artist">
          <mat-option *ngFor="let artist of artists" [value]="artist.id">{{artist.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="year">
        <mat-label>Year</mat-label>
        <input matInput placeholder="Eg. 1997" formControlName="year" autocomplete="off">
        <mat-error *ngIf="form.controls.year.errors?.required">
          Required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add Album</button>

      <mat-error *ngIf="form.errors?.notUnique">
        Albums must be unique
      </mat-error>
    </form>
  </mat-card>

  <table mat-table [dataSource]="albums" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef> Artist </th>
      <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- <router-outlet></router-outlet> -->